.inactive{
    display: none;
}

.show{
    display: block;
}

.active{
    background-color: chartreuse;
    transition: 0.2s;
}
.form-control.active:hover{
    background-color: rgb(1, 177, 1);
    
}

.form-control:hover{
    background-color: aliceblue;
    transition: 0.2s;
}

.path{
    display: inline;
    background-color:burlywood;
    margin-right: 10px;
    border: gray ridge 2px;
    padding: 5px;
}
.path-cont{
    position: relative;
    bottom: 10px;
    right: 0px;
}