@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background-image: url(https://e0.pxfuel.com/wallpapers/233/502/desktop-wallpaper-abstract-background-dark-grid-color.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}